@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
body{
  font-family: 'Lato', sans-serif;
}
.body-login{
  background-color: #0048A7 ;
  padding-top: 80px;
}
.hold-box-login{
  background-color: #FFF ;
  min-height: 500px;
}
.box-blue{
  background-color: #0965DD ;
  height: 500px;
  background-image: url("../gfx/corner.jpg") ;
  background-repeat: no-repeat ;
  background-position: right ;
  background-size: contain ;
}

.box-blue .logo{
  height: 35px;
  background-image: url("../gfx/logo-tipo.png") ;
  background-repeat: no-repeat ;
  background-position: 12px bottom ;

}

.box-blue .hold-text-left{
  margin-top: 50px;
  background-image: url('../gfx/logo-2.png');
  background-position: 143px top ;
  background-repeat: no-repeat ;
  padding-top: 70px;
}
.box-blue .hold-text-left hgroup{
  width: 90%;
  text-align:center ;
  /* margin-left: 42px; */
}
.box-blue .hold-text-left hgroup h1{
  font-size: 24px;
  line-height: 29px;
  color: #FFF ;
  font-weight: 700 ;
  margin-bottom: 0 ;
}

.box-blue .hold-text-left hgroup h2{
  font-size: 13px;
  color: #FFF ;
  margin-top:0;
  /* margin-left: 52px; */
  font-weight: 700 ;
}

.box-blue .hold-text-left p{
  width: 70%;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #FFF ;
  margin-left: 30px;
}

.bnt-cria-login{
  color: #FFF ;
  background-color: transparent ;
  border: 1px solid #FFF ;
  font-size: 11px;
  font-weight: 700 ;
  letter-spacing: 1px ;
  padding: 10px 32px;
  margin-left: 85px;
}

.hold-entrar-fields{
  padding-top: 80px;
}
.hold-entrar-fields .title-entrar{
  font-size: 26px;
  color: #32323A ;
  font-weight: 900 ;
  width: 100%;
}
.hold-entrar-fields p{
  font-size: 14px;
  line-height: 18px;
  padding-right: 20px;
}

.hold-fields{
  padding-right: 20px !important;
}
.hold-fields label{
  width: 100%;
  color: #32323A ;
  font-size: 12px;
  font-weight: 900;
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea{
  /* margin-right: 30px; */
  padding-left:12px;
}

.btn-entrar{
  width: 100%;
  background-color: #0965DD ;
  color: #FFF ;
  font-size: 14px;
  letter-spacing: 1px ;
  font-weight: 700;
  padding: 14px;
  border : 0 ;
}


  /* ini:internas */
  .sidebar-menus{
    height: 100vh ;
    background-color: #FAFAFA ;
    padding-top: 50px !important;
  }
  .sidebar-menus .hold-user-name{
    font-size: 12px;
    color: #15171A ;
    font-weight: 900;
    text-transform: uppercase ;
    letter-spacing: 0.6px ;
    line-height: 12px;
  }
  .sidebar-menus .descricao-user-permissao{
    font-size: 13px;
    color: #929BA4 ;
    font-weight: 300;
  }

  .sidebar-menus nav{
    margin-top: 50px;
    box-shadow: none ;
    background-color: transparent ;
    width: 100%;
  }
  nav ul a{
    margin-left:  0;
    padding-left:  10px;
    border-left: 3px solid #FAFAFA ;
  }
  nav ul a:hover,
  nav ul .active{
    background-color: transparent ;
    border-left: 3px solid #0965DD ;
    color: #959FA7 ;
  }
  nav ul a,
  .sidebar-menus nav ul li{
    font-size: 14px !important;
    font-weight: 700;
    color: #1A1C1F ; 
  }
  .sidebar-menus nav ul li a{color: #1A1C1F ;}
  nav ul .active{color: #959FA7 !important;}
  

  .content{
    padding-top: 50px;
  }
  .content .hold-title-page h1{
    text-transform: uppercase ;
    font-size: 44px;
    letter-spacing: 1.5px ;
    font-weight: 700 ;
    margin: 0;
    padding: 0;
  }

  .content .hold-title-page p{
    margin: 0;
    color: #959FA7 ;
    font-weight: 300 ;
  }
  .hold-nav-menu{
    margin-top: 30px;
    border-bottom: 1px solid #DDE2E6 ;
  }
  .hold-nav-menu ul li{
    float: left ;
    padding-bottom: 10px;
    margin-right: 20px;
  }
  .hold-nav-menu ul li a{
    color: #1A1C1F ;
    font-size: 14px;
    font-weight: 700;
  }
  .hold-nav-menu ul li:hover,
  .hold-nav-menu ul .active{
    border-bottom: 3px solid #0965DD ;
  }
  .content-sistema{
    padding-top: 30px;
  }
  .content-sistema .box-shadow-dash{
    border-radius: 4px;
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    padding: 12px;
    position: relative ;
  }
  .content-sistema .box-shadow-dash .numero{
    font-size: 104px;
    letter-spacing: 1px;
    color: #959FA7 ;
    font-weight: 900;
  }
  .content-sistema .box-shadow-dash .hold-box-mais-infos{
    width: 40px;
    height: 40px;
    position: absolute ;
    bottom: 1px ;
    right:  1px;
    background-color: #0965DD ;
    border-radius: 4px;
    color: #FFF;
    font-size: 10px;
    padding-top: 5px;
  }

    /* ini:table-lists */
      table thead tr{
        background-color: #FFF ;
        color: #616874 ;
        text-transform: uppercase;
      }
      table thead tr th{
        font-size: 13px;
        font-weight: 900;
      }

      table tbody tr td img{
        width: 50px;
      }
      table tbody tr td button{
        background-color: #4267b2 ;
        border: 0;
        padding: 8px 12px;
        color: #FFF ;
        font-size: 11px;
        font-weight: 700;
      }
      
    /* end:table-lists */

  /* end:internas */